[submodule "CurvesUnity/Assets/AssistLib"]
	path = CurvesUnity/Assets/AssistLib
	url = git@github.com:c1tr00z/assist-lib-git-submodule.git
[submodule "CurvesUnity/Assets/Curves"]
	path = CurvesUnity/Assets/Curves
	url = git@github.com:c1tr00z/curves.git
